<div class="container">
  <app-cockpit 
  (serverCreated)="onServerAdded($event)"
  (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <!-- bind app-server-element's property example:
           @Input() element: {type: string, name: string, content: string}; -->           
      <app-server-element 
        *ngFor="let serverElement of serverElements"        
        [srvElement]="serverElement"></app-server-element>
    </div>
  </div>
</div>
